@model WebApplication2.Models.City
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Index";
}

<h2>Resources</h2>
<br />
<table>
<tr>
    <th></th>
    <th>Resource Type</th>
    <th>Level</th>
    <th></th>
    <th></th>
</tr>
@foreach (var Mine in this.Model.Mines)
{
    <tr >
        <td> <img src="~/Content/img/icon-@(Mine.Type).png" /></td>
        <td>@Mine.Type</td>
        <td>@Mine.Level</td>
        <td>
            <form action="/Mines/Index" method="post">
                <input type="hidden" name="MineId" value="@Mine.MineId">
                <input type="submit" value="Upgrade" style="border: none; background-color: #a7f442; border-radius: 10px;">
            </form>
        </td>
        <td>@Html.ActionLink("Details", "Details", new { mineId = Mine.MineId } ) </td>
    </tr>
}
</table>

<br />
