@using System;
@using System.Globalization;
@model WebApplication2.Models.Mine

@{
    ViewBag.Title = "Details";
    this.Layout = null;
}
    
    <div class="mine-detail"> 
        <h3>@Model.Type</h3>

        <h4>Description: @(Model.Description) </h4>
        
        <img src="~/Content/img/mine-@(Model.Type).png" />
           @{ var prod = 13 * Model.Level;
           }
        <h4>Current Production: @prod</h4>
        <h4>Next level Production: @(13 + prod)</h4>
        <h4>Time left until upgrading: @{ 
            var time = Model.UpgradeCompletion - DateTime.Now;
            if (time.Hours < 0 && time.Minutes < 0)
            {
                time = new TimeSpan(0, 0, 0);
            }
            @time;
        }</h4>

        @using (Html.BeginForm("Upgrade","Mines", new { mineId = this.Model.MineId, cityId = this.Model.CityId }))
        {
            @Html.HiddenFor(m => m.MineId);
            <div>Do a fast upgrade? @Html.CheckBox("fastUpgrade") </div>
            <button id="upgrade" type="submit" class="btn btn-success">Submit</button>
            
        }
        @* <!-->form action="/Mines/Index" method="post">
            <input type="hidden" name="MineId" value="@(Model.MineId)">
            <input type="submit" value="Upgrade" style="border: none; background-color: #a7f442; border-radius: 10px;">
         </form--> *@
    </div>

