@model WebApplication2.Models.City
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Index";
}


<div class="body-content">
<table>
    <tr >
        @foreach (var res in this.Model.Resources)
        {
            <td class="res-img @(res.Type)"><img src="~/Content/img/icon-@(res.Type).png" /></td>
            <td class="res-value @(res.Type)">@res.Level.ToString("F4")</td>
            <td class="res-lastUpdate @(res.Type) hidden">@res.LastUpdate</td>
        }
    </tr>
</table>

</div>

<div class="main">
    <img id="city-img" src="~/Content/img/village-bg.jpg" />

        <div class="mine-wrapper">

            @foreach (var Mine in this.Model.Mines)
            {
               
               <div class="mine-level @(Mine.MineStyle) @(Mine.Type.ToString().ToLower())">
                   <div hidden>@Mine.Type</div> 
                   @{ 
                        String level = @Mine.Level.ToString();
                    }
                    <div>@Html.ActionLink(level, "Details", new { mineId = Mine.MineId })</div>
                    <div hidden>Mine.GetProductionPerHour()</div>
               </div>
                
            }


        </div>
    </div>


<br />
@section Scripts {
    <script src="~/Scripts/javascript/JavaScript.js"> </script>
    <script src="~/Scripts/Date.min.js"></script>
}
