@model WebApplication2.Models.City
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Index";
}

<h2>Resources</h2>
<br />

<table  align="right" style="vertical-align: bottom;">
    <tr >
        @foreach (var res in this.Model.Resources)
        {
            <td class="res-img @(res.Type)"><img src="~/Content/img/icon-@(res.Type).png" /></td>
            <td class="res-value @(res.Type)">@res.Level.ToString("n4")</td>
            <td class="res-lastUpdate @(res.Type)">@res.LastUpdate</td>
        }
    </tr>
</table>


<table class="mines">
<thead>
<tr >
    <th></th>
    <th>Resource Type</th>
    <th>Level</th>
    <th></th>
    <th></th>
</tr>
</thead>
<tbody>    
@foreach (var Mine in this.Model.Mines)
{
    <tr class="@(Mine.Type)">
        <td> <img src="~/Content/img/icon-@(Mine.Type).png" /></td>
        <td>@Mine.Type</td>
        <td>@Mine.Level</td>
        <td>
            <form action="/Mines/Index" method="post">
                <input type="hidden" name="MineId" value="@Mine.MineId">
                <input type="submit" value="Upgrade" style="border: none; background-color: #a7f442; border-radius: 10px;">
            </form>
        </td>
        <td>@Html.ActionLink("Details", "Details", new { mineId = Mine.MineId } ) </td>
        <td class="hourProduction">@Mine.GetProductionPerHour()</td>
    </tr>
}
</tbody>
</table>

<br />
@section Scripts {
    <script src="~/Scripts/javascript/JavaScript.js"> </script>
    <script src="~/Scripts/Date.min.js"></script>
}
