@model DataAccess.CityFilterViewModel

@{
    ViewBag.Title = "Index";
}

<h2>CityFilter</h2>

@using (Html.BeginForm())
{
    <div class="form-group">Name: 
        @Html.TextBoxFor(model => model.Name)
    </div>

    <div class="form-group">Email: 
        @Html.TextBoxFor(model => model.Email)
    </div>
    <div class="form-group">MinTroopCount: 
        @Html.TextBoxFor(model => model.MinTroopCount)
    </div>
    <div class="form-group">MaxTroopCount: 
        @Html.TextBoxFor(model => model.MaxTroopCount)
    </div>
    <button type="submit">Submit</button>

}

<table>
    <tr>
        <td>City</td>
        <td>Troops</td>
    </tr>
    @if (this.Model.Results != null)
    {
        foreach (var city in this.Model.Results)
        {
            <tr>
                <td>City-@city.CityId</td>
                <td>@city.Troops.Sum(_ => _.TroopCount)</td>
            </tr>
        }
    }
</table>
